body {
  overflow: hidden;
  background: url('../assets/images/bg.jpg');
  background-size: cover;
  background-position-y: 70%;
}

.transition {
  position:absolute;
  height:100%;
  width:30%;
  background:#eaeaea;
  transform: skewX(-5deg) translateX(-50px);
  transition:2s all ease-in-out;
  -webkit-transition:2s all ease-in-out;
  display: none;
}

.content {
  position:relative;
  color:#000;
  z-index:10;
  height: 100vh;
}

#btn-start {
  outline:none;
  border:none;
  text-decoration:none;
  text-transform:uppercase;
  background:rgb(19, 18, 18);
  color:#eaeaea;
  box-sizing:border-box;
  margin-top:20px;
  padding:15px 40px;
  transition: 300ms ease;
}

#btn-start:hover{
  opacity: 0.9;
}

.cursor {
  width: 5px;
  border-bottom: 1px solid white;
}

.anim-trans {
  animation: anim 2s ease-in-out;
  }

@keyframes anim{
     0% { }
     20%  { z-index:11;\transform: skewX(5deg) translateX(-100%); }
     40%   { transform: skewX(0deg) translateX(0);
 width:100%; z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
     60%   { transform: skewX(3deg) translateX(0);
 width:100%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
     80%   { transform: skewX(1deg) translateX(-100%);
 width:60%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
     100%   { transform: skewX(-5deg) translateX(-50px);
 width:30%;z-index:1; box-shadow: none;}
}